<a href="https://colab.research.google.com/github/uppalasreya/AI-ML/blob/master/01_06_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuple:
1. Immutable(changes are not allowed)
2. use ( ) and elements are seperated by ,
3. Indexed,Ordered,ALlows duplicate values

In [0]:
#Tuple 
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [0]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [0]:
list1 = list(tup1)
list1[2] = 100
tup1 = tuple(list1)
print(tup1)

(12, 3, 100, 'abc', True)

### Built-in methods:
1. count()
2. index()

In [0]:
print(tup1.count(12))
print(tup1.index(12))

1
0

### packing and Unpacking

In [0]:
#unpacking
tup2 = (12,232,4,354)
a,b,c,d = tup2
print(d)

354

In [0]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [0]:
#Tuple with single element
y = (10,)
print(type(y))

<class 'tuple'>

In [0]:
#Iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
1. { }
2. Does not allow duplicate values
3. Not ordered
4. unindexed
5.  Mutable

In [0]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [0]:
#Iterating through set
for ele in set1:
    print(ele)

1
2
5
6
45
334

### Built-in functions:
1. len()
2. min()
3. max()
4. set()

In [0]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [0]:
#Removing duplicates from the list
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

## Built-in Methods:

### Adding an element
1. add()


### Removing an element
1. pop()
2. remove()
3. discard()
4. clear()


### Other operations:
1. union()
2. intersection()
3. difference()
4. symmetric_difference()
5. issubset()
6. issuperset()
7. isdisjoint()
8. update()
9. intersection_update()
10. difference_update()
11. symmetric_difference_update()

In [0]:
set2 = set()
print(type(set2))

<class 'set'>

In [0]:
#Adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [0]:
#Removes an element from the set
set2.pop()

100

In [0]:
#Removes the specified element from the set if it is present
#else it throws an error
set2.remove(12)
set2

{23}

In [0]:
set2.clear()
set2

set()

In [0]:
#union,difference(A-B or B-A),intersection
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A U b ==> {1,2,3,4,5,6,7}
print(A.union(B))
#A - B ==> {1,2}
#B - A ==> {6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
# intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [0]:
#subset,superset
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))#True
print(C.issuperset(B))#True

True
False
True
True

In [0]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))#False
print(X.isdisjoint(Y))#True

False
True

In [0]:
#Symmetric difference ==> (A-B U B-A)
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [0]:
#set A will be updated with the result of union of A and B
A.update(B)#A = A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [0]:
#set A will be updated with the result of intersection of A and B
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [0]:
#set A will be updated with the result of difference of A and B
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [0]:
#set A will be updated with the result of symmetric_difference of A and B
A.symmetric_difference_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

### Dictionary:
'''dictionary name = {key1:value1,key2:key2,...... }'''

### Rules for key :
1. keys should be unique
2. keys should be immutable (example:numerics,string,tuple )

In [0]:
#creating a dictionary
dict1 = {"name":"preeti","emp id":1234,"address":"hyd"}
print(dict1)

{'name': 'preeti', 'emp id': 1234, 'address': 'hyd'}

In [0]:
#Extacting an element
print(dict1["emp id"])

1234

In [0]:
#Removing or deleting an entry 
del dict1["address"]
print(dict1)

{'name': 'preeti', 'emp id': 1234}

In [0]:
#Adding an entry
dict1["course"] = "python"
print(dict1)

{'name': 'preeti', 'emp id': 1234, 'course': 'python'}

### Built-in methods:
1. keys()
2. values()
3. items()
4. get()
5. update()
6. pop()
7. popitem()

In [0]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['preeti', 1234, 'python'])
dict_items([('name', 'preeti'), ('emp id', 1234), ('course', 'python')])

In [0]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

preeti
preeti

In [0]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'address': 'hyd', 'course': 'python', 'emp id': 1234, 'name': 'preeti'}

In [0]:
#update() ==> Appends the dictionary entries
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'preeti', 'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [0]:
#Removing an entry =S=> pop(),popitem()
#pop() ==> removes an entry with respect to mentioned key
dict1.pop("name")
dict1

{1: 1, 2: 2, 3: 3, 'address': 'hyd', 'course': 'python', 'emp id': 1234}

In [0]:
#popitem() ==>removes the last entry
dict1.popitem()

(3, 3)

In [0]:
dict1

{1: 1, 2: 2, 'address': 'hyd', 'course': 'python', 'emp id': 1234}