<a href="https://colab.research.google.com/github/uppalasreya/AI-ML/blob/master/27_05_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#python programming
##python programming
###python programming
####python programming
#####python programming
######python programming

[click here](https://docs.google.com/document/d/1NUWRUi53uEEP8sUAKZGx4nDbi3ExZf0GUEpE5vi8n34/edit)

![image](https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg)

In [0]:
a = 10 #integer
b = 23.34 #float
c = 12+3j #Complex number
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c1 = 4+5j
c2 = complex(6,8)
print(c1+c2)
print(c2.real)#real part of the complex number
print(c2.imag)#imaginary part of the complex number

(10+13j)
6.0
8.0

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a+b,a-b,end" ")

enter the value of a5
enter the value of b7
12 -2

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a+b)
print(a-b)

enter the value of a3
enter the value of b4
7
-1

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a+b,end=" ")
print(a-b)
print(a*b,a/b)

enter the value of a7
enter the value of b4
11 3 28 1.75

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a+b)
print(a*b,a/b)

enter the value of a7
enter the value of b14
21
98 0.5

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a+b,end=" ")
print(a*b,a/b,sep=",")

enter the value of a7
enter the value of b14
21 98,0.5

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a + b)
print(a - b)
print(a * b)
print(a / b)#float quotient
print(a % b)#Remainder
print(a // b)#int quotient
print(a ** b)# 2 5

enter the value of a3
enter the value of b6
9
-3
18
0.5
3
0
729

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a + b)
print(a - b)
print(a * b)
print(a / b)#float quotient
print(a % b)#Remainder
print(a // b)#int quotient
print(a ** b)# 2 5

enter the value of a6
enter the value of b3
9
3
18
2.0
0
2
216

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a>b)
print(a < b)#True
print(a > b)
print(a <= b)
print(a >= b)
print(a == b)
print(a != b)

enter the value of a6
enter the value of b3
True
False
True
False
True
False
True

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a < b and a > 1)
print(a > 3 or a < 4)
print(not a < b)

enter the value of a6
enter the value of b3
False
True
True

In [0]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a < b and a>1)
print(a < b or a>1)
print(not a < b)

enter the value of a6
enter the value of b3
False
True
True

In [0]:
list1 = [12,23,34,45,56,67]
print(12 in list1)
print(13 not in list1)
print(67 not in list1)

True
True
False

In [0]:
if(a<b):
  print("a is less than b")
elif(a>b):
  print("a is greater than b")
else:
  print("a is equal to b")

a is greater than b

In [0]:
a = int(input("enter a value"))
b = int(input("enter b value"))
c = int(input("enter c value"))
if(a>b and a>c):
    print("largest number is a:",a)
elif(b>c):
    print("largest number is b:",b)
else:
    print("largest number is c:",c)

enter a value1
enter b value2
enter c value3
largest number is c: 3

In [0]:
n = int(input("enter the value"))
i=1
while(i<=n):
    print(i,end=" ")
    i +=1

enter the value10
1 2 3 4 5 6 7 8 9 10

In [0]:
n = int(input("enter the value"))
i=1
s=0
while(i<=n):
    s += i
    i += 1
print(s)

enter the value10
55

In [0]:
n=int(input("enter the number of rows"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [0]:
n=int(input("enter the number"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter the number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [0]:
import cmath
a=float(input("enter the number"))
b=float(input("enter the number"))
c=float(input("enter the number"))
d=(b ** 2) - (4*a*c)
if(d>0):
  root1=(-b+cmath.sqrt(d))/(2*a)
  root2=(-b-cmath.sqrt(d))/(2*a)
  print("roots are real and unequal:",root1, "and:",root2)
elif(d==0):
  root1=-b/(2*a)
  print("roots are real and equal:",root1)
else:
  print("no real roots are there")

enter the number2
enter the number3
enter the number4
no real roots are there

In [0]:
import cmath
a=float(input("enter the number"))
b=float(input("enter the number"))
c=float(input("enter the number"))
d=(b ** 2) - (4*a*c)
if(d>0):
  root1=(-b+cmath.sqrt(d))/(2*a)
  root2=(-b-cmath.sqrt(d))/(2*a)
  print("roots are real and unequal:",root1, "and:",root2)
elif(d==0):
  root1=-b/(2*a)
  print("roots are real and equal:",root1)
else:
  print("no real roots are there")

enter the number4
enter the number8
enter the number2
roots are real and unequal: (-0.2928932188134524+0j) and: (-1.7071067811865475+0j)

In [0]:
def fib(n):
  a=0
  b=1
  print(a)
  print(b)
  for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34