<a href="https://colab.research.google.com/github/uppalasreya/AI-ML/blob/master/28_05_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###strings
1. "" or ''(characters)-->'a'
2. immutable-->cannot change directly
3. collection of characters enclosed by quotation marks-->iterable objects

In [0]:
s1 = "hello"
s2 = 'good mrng'
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [0]:
s1 = input("enter the string: ")
s2 = 'good mrng'
print(type(s1),type(s2))

enter the string: hello
<class 'str'> <class 'str'>

#operators : +(concatination),*(repitition),[] (slice),[:] (slice),[in,not in]

In [0]:
print(s1 + s2)
print(s1 * 3)
print(s1[4])
print(s1[-2])
print(s1[2:])
print(s2[3:6])

hellogood mrng
hellohellohello
o
l
llo
d m

In [0]:
#start of slice=0 end of slice=length of string
print(s1[0:5])
print(s1[:])

hello
hello

In [0]:
#print altrnate characters of the string
print(s1[::2])

hlo

In [0]:
#accept a string from the user and check weather it is a palindrome or not
s3=input("enter the string")
if(s3 == s3[::-1]):
  print("the given string is palindrome")
else:
  print("the given string is not a palindrome")

enter the stringwow
the given string is palindrome

In [0]:
#number is palindrome or not
n=int(input("enter the number"))
if(str(n) == str(n)[::-1]):
  print("the given number is palindrome")
else:
  print("the given number is not a palindrome")

enter the number123
the given number is not a palindrome

In [0]:
#number is palindrome or not
n=int(input("enter the number"))
if(str(n) == str(n)[::-1]):
  print("the given number is palindrome")
else:
  print("the given number is not a palindrome")

enter the number121
the given number is palindrome

In [0]:
s1 = input("enter the string: ")
s2 = 'good mrng'
print(s1[:])
print(s1[::1])
print(s1[0:5])

enter the string: hello
hello
hello
hello

In [0]:
s4="python"
print("on" in s4)
print('xy' in s4)
print("to" not in s4)

True
False
True

### built in functions in strings:
1. len()-->length of the string
2. min()
3. max()
4. str()-->any data type to string data type

In [0]:
s1 = "hello"
s = "abc123"
print(len(s1))
print(max(s1))
print(min(s1))
print(max(s))
print(min(s))

5
o
e
c
1

In [0]:
#ord-->Ascii value
ord('a')

97

In [0]:
#chr-->character of number
chr(97)

'a'

###difference between string functions and methods
functions created inside class is known as methods and it is restricted to particular string class or objects itself and calling of method  is different from functions. whereas string function is used for iterable objects.  It is not restricted it can use for any data type i.e(to lists strings tupleetc of any type).

### Built-in methods in strings
1. capitalize()
2. isalpha()
3. isdigit()
4. isalnum()
5. isupper()
6. islower()
7. upper()
8. lower()
9. swapcase()
10. count()
11. split()
12. replace()

In [0]:
s = "hello"
print(len(s))#in strfun
print(s.capitalize())#objname.method name()
print(s)

5
Hello
hello

In [0]:
s = "hello"
print(len(s))#in strfun
s=s.capitalize()#objname.method name()
print(s)

5
Hello

In [0]:
s1 = "hello"
s2 = "abc123"
s3 = "123"
print(s1.isalpha())
print(s1.isdigit())
print(s1.isalnum())

True
False
True

In [0]:
s1 = "hello"
s2 = "abc123"
s3 = "123"
print(s1.isalpha())
print(s1.isdigit())
print(s3.isalnum())

True
False
True

In [0]:
s1 = "python"
s2 = "PYTHON"
print(s1.isupper())
print(s2.isupper())
print(s1.islower())
print(s2.islower())

False
True
True
False

In [0]:
s1 = "python"
s2 = "PYTHON"
print(s1.upper())
print(s2.lower())

PYTHON
python

In [0]:
s1 = "Python"
print(s1.swapcase())

pYTHON

In [0]:
s= "abc abc abc"
s.count("abc")#count returns frequency of substring in main string

3

In [0]:
#split-->return type is split
print(s.split())

['abc', 'abc', 'abc']

In [0]:
s1 = "a,b,c,d"
print(s1.split(","))

['a', 'b', 'c', 'd']

In [0]:
s = "hello"
print(s.replace('e','d'))
print(s)

hdllo
hello

In [0]:
s = "hello"
s = s.replace('e','d')
print(s)

hdllo

In [0]:
#accept a member(n) from the user and remove nth position
#character from the string
#let n = 3
#s = abcabc
#output : abab
n = int(input("enter the position"))
s = input("enter the string")
print(s.replace(s[n-1],''))

enter the position3
enter the stringabcabc
abab

In [0]:
#accept a member(n) from the user and remove nth position
#character from the string
#let n = 3
#s = abcabc
#output : abab
n = int(input("enter the position"))
s = input("enter the string")
print(s.replace(s[n-1],'',1))

enter the position3
enter the stringabcabc
ababc

###for loop:
1. for loop with range
2. for loop with iterable object

In [0]:
...for varname in range(start,stop,step):
  statements...

In [0]:
#print 1-n numbers on the screen
n=10
for i in range(1,n+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [0]:
#print 1-n numbers on the screen using while
i=1
while(i<=n):
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

for variable in iterable obj:
        statements

In [0]:
s = "python"
for i in s:
  print(i)

p
y
t
h
o
n

In [0]:
s = "python"
for i in s:
    print(i)

#using while loop print all the characters of your string vertically
i = 0
while i < len(s):
    print(s[i])
    i += 1
    
#using for loop but you should not use iterable object
for j in range(0,len(s)):
    print(s[j])

p
y
t
h
o
n
p
y
t
h
o
n
p
y
t
h
o
n