<a href="https://colab.research.google.com/github/uppalasreya/AI-ML/blob/master/29_05_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Loop control statements : break,continue
for i in range(1,11):
    if i % 5 == 0:
        break
    else:
        print(i)

1
2
3
4

In [0]:
#continue
for i in range(1,11):
    if i % 5 == 0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

write a program to validate username and password given by the user.If the user gives wrong credentials it should ask for username and password again again until the user gives correct details.

In [0]:
# password : abc123
while True:
    user = input("enter your name: ")
    if user == "python":
        pwd = input("enter your password: ")
        if pwd == "abc123":
            print("Login Success!!")
            break
    else:
        continue

enter your name: python
enter your password: abc123
Login Success!!

In [0]:
#pass -->used for creating empty blocks
if 12 < 34:
    pass
else:
    print("else")

###Function:
block of statements

1. predefined(which are already)
  - len(),print(),input(),min(),max()
2. user-defined(custom function)

###User defined functions syntax:
def function_name(parameter list):
        statements
        return

In [0]:
def name(username):
  print("hello",username)
name("preeti")

hello preeti

In [0]:
#Returning multiple values from function
def addition(a,b):
    return a+b,a-b,a*b,a/b
print(addition(10,20))
print(addition(100,200))
print(addition(110,220))

(30, -10, 200, 0.5)
(300, -100, 20000, 0.5)
(330, -110, 24200, 0.5)

In [0]:
#Multiple return values
def arithmetic(a,b):
    return a+b,a-b,a*b,a/b

#Unpacking
add,sub,mul,div = arithmetic(10,20)
print(sub)

-10

### different types of arguments
1. Required positional argument
2. Default argument
3. keyword argument
4. variable length argument

In [0]:
#Example
def add(a,b):
    return(a+b)
add(10,20)
#add(10,20,30)

30

In [0]:
#default argument
#Default arg should be at the end of arg list
def add(a,b=100):
    return a+b

print(add(100))
print(add(200,200))

200
400

In [0]:
#keyword arguments:
def add(a,b):
    print("a value:",a)
    print("b value:",b)
    return(a+b)
add(b = 10,a = 20)

a value: 20
b value: 10

30

In [0]:
#Accepting function arguments from the user
a = int(input("enter a value"))
b = int(input("enter b value"))
add(a,b)

enter a value2
enter b value3
a value: 2
b value: 3

5

In [0]:
#variable length argmuments
#(120,230,34,450,460)-->Tuple
def add(*a):
    return sum(a)
print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

30
60
100

In [0]:
#variable length argmuments
#(120,230,34,450,460)-->Tuple
def mul(*a):
  m=1
  for i in a:
      m = m*i
  return m
print(mul(10,20))
print(mul(10,20,30))
print(mul(10,20,30,40))

200
6000
240000

In [0]:
#Nested Functions : square,cube
def square(a):
    return a*a

def cube(x):
    return square(x)*x

print(square(10))
print(cube(10))

100
1000

### Recursive Function:
1. Factorial of a number
2. Fibonacci series

In [0]:
def fib(n):
  a = 0
  b = 1
  print(a)
  print(b)
  for i in range(2,n):
    c = a+b;
    a = b
    b = c
    print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [0]:
def fact(n):
  f = 1
  for i in range(1,n+1):
    f=f*i
  return f
n = 5
result = fact(n)
print(result)

120

In [0]:
def fact(n):
  f = 1
  for i in range(1,n+1):
    f=f*i
  print(f)
fact(5)

120

###Data structures:
1. List :
  - enclosed by [] and elements are separated by ,
  - indexed
  - ordered
  - allows Duplicate values
  - Mutable
  - allows Any type of values

In [0]:
#operators supported by list : +,*,[],[:],in,not in
list1 = [1,2,3]
list2 = [10,20,30]
print(list1+list2) #concatenation
print(list1*3) #Repitition
print(list1[1]) #2
print(list1[1:3]) #[2,3]
print(2 in list1) # True
print(200 in list1) #False

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [0]:
#Built-in functions:len(),min(),max(),list()
list1 = [1,2,3,40]
s1 = "python"
print(len(list1))
print(min(list1))
print(max(list1))
list2 = list(s1)
print(list2)
list1[-1] = 100
print(list1)

4
1
40
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]